@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 100%;
}

.checkout-btn {
  width: 20%;
  align-self: center;
}

.navbar {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: #f8f9fa;
    }
  }
  li {
    margin: 2rem;
  }
}

.main-content {
  flex-grow: 1;
  display: flex;
}

.main-content-shop {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  p {
    margin: 0;
  }
}

.hero {
  background-image: url('../images/keycapslg.jpg');
  background-size: cover;
}

.title {
  margin-left: 1rem;
}

.btn {
  border: none;
}

.card-container {
  max-width: 400px;
  max-height: 400px;
}

.cart-card-container {
  max-width: 50%;
}

.cart-card-body {
  display: flex;
  justify-content: space-between;
}

.card-imgs {
  min-height: 250px;
  max-width: 100%;
}

.card-image-container {
  width: 350px;
  height: 250px;
}

.item-incrementor {
  p {
    margin: 0;
  }
  button {
    min-width: 30px;
  }
  display: flex;
  flex-direction: row;
}

.item-quantity {
  min-width: 30px;
  text-align: center;
}

.cart-status {
  align-self: center;
}

#cart-wrapper {
  justify-content: center;
}

#cart-total {
  align-self: center;
}
